# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data files
data/raw/*
data/interim/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Logs
*.log

# Jupyter
.ipynb_checkpoints/